.App {
  padding: 20px;
}

.App-logo {
  height: 60px;
  animation: App-logo-spin infinite 20s linear;
  position: absolute;
  right: 20px;
  top: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
